body{
    margin: 0;
}

.noBorder{
    border: none;
}

.heading-color{

    background-color: olive;
    padding: 5px;
    font-size: 5vw;
}

td{
    width: 5vw;
    border: 1px solid black;
    text-align: center;

}


.background-color{

    background-color: yellow;
}

.background-colors{

    background-color:olivedrab;
}


