body{
    margin: 0px;
}



.noBorder{
    border: none;
}


.background-colors{

    
    padding-right: 65px;
    padding-bottom: 195px;
    padding-left: 65px;
   
   
   
}

.heading-color{
    margin: 0px 70px 0px 70px;

    background-color: rgb(136, 190, 26);
    padding: 15px;
    font-size: 5vw;
}

td{
    width: 5vw;
    border: 1px solid black;
    text-align: center;

}


.color-1{

    background-color:#a9ca99;
}

.color-2{

    background-color:#cc394f;
}

.color-3{

    background-color: #f49b0c;
}

.color-4{

    background-color:#6b509e ;


}

.color-5{

background-color:#efe413 ;
}

.color-6{

background-color:#26d0d3 ;
}

.color-7{

background-color:#fde4c6 ;

}

.color-8{

background-color:#e21231 ;
}

.color-9{
background-color:#ed0b80 ;

}

.color-10{

background-color:#884a61 ;
}

.color-11{

background-color:#b4ed23 ;
}



